body {
  background-image: url(https://cdn141.picsart.com/331931279065201.jpg?to=crop&type=webp&r=244x367&q=85);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #031b3f;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: azure;
}

.container {
  margin: 120px auto;
  max-width: 600 px;
  background-color: rgb(102, 130, 158);
}
.form-container {
  background-color: rgb(127, 100, 139);
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}
form {
  display: flex;
}
.hint {
  line-height: 1, 5;
  margin-top: 8px;
  font-size: 12px;
  opacity: 0.6;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #031b3f;
  color: beige;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}
.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #031b3f;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.hidden {
  display: none;
}
.poem strong {
  color: 031b3f;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
